body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#btn_div {
  display: none;
  padding-left: 1em;
}

#assessment_filter {
  display: none;
}

#student_filter {
  display: none;
}

#course_filter {
  display:none;
}
