body {
  margin: 0;
  height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

table
{
  width: 100%;
  font: 17px Calibri;
}
table, td
{
  border: solid 2px #DDD;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
  border: solid 2px #DDD;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
  height: 50px;
  background-color: #b2d3d7;
}

#btn_div {
  display: none;
  padding-left: 1em;
}

#assessment_filter {
  display: none;
}

#student_filter {
  display: none;
}

#course_filter {
  display:none;
}

#form2 {
  padding-left: 2px;
  padding-right: 10em;
}

#form3 {
  padding-right: 10em;
}


#canvas1 {
  width: 30em;
  height: 30em;
}

#canvas2 {
  width: 30em;
  height: 30em;
}

.lds-hourglass {
  display: none;
  position: relative;
  width: 20%;
  height: 64px;
  margin: 0 auto;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 150px solid #83bfef;
  border-color: #83bfef transparent #83bfef transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

